
.friends span {
    text-align: left;
}

.friends form {
    width: 100%
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.friends label {
    font-size: 18px;
    text-align: right;
}

.friends input {
    font-size: 18px;
    width: 15em;
    text-align: left;
}

.friends li {
    list-style-type: none;
}

.friends iframe {
    border: 0;
    width: 100%;
    height: 100vh;
}

.friends a {
    font-size: 20px;
}