
.login-content h2 {
    text-align: center;
}

.login-content form {
    max-width: 450px;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.login-content .form-row {
    display: flex;
    align-items: center;
    gap: 1em;
}

.login-content label {
    font-size: 1.2rem;
    width: 8rem;
    flex-shrink: 0;

}

.login-content input {
    font-size: 1.4rem;
    width: 100%;
    border: none;
    margin-bottom: 1vh;
    margin: 0 auto;
    border-bottom: 0.1em solid #dfdfdf;
    transition: border-bottom 0.2s;
}

.login-content input:focus {
    outline: none;
    border-bottom: 2px solid skyblue;
}

.login-content input:invalid {
    border-bottom: 0.1em solid hotpink;
}

.login-content p {
    font-style: italic;
    color: grey;
    text-align: center;
}

.login-content p.error {
    color: red;
}

.login-content a.login, .login-content a.sign-up {
    text-decoration: none;
    color: black;
    width: 200px;
    padding: 15px 20px;
    font-size: 20px;
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
}

.login-content button.login, .login-content button.sign-up {
    cursor: pointer;
    width: 200px;
    padding: 15px 20px;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.login-content a.login {
    background-color: skyblue;
}

.login-content a.sign-up {
    background-color: hotpink;
}

.login-content button.login {
    background-color: skyblue;
}

.login-content button.sign-up {
    background-color: hotpink;
}

.login-content .button-group {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.login-content .checkbox-row {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.login-content .checkbox-row input[type="checkbox"] {
    flex-shrink: 0; /* Checkbox bleibt fix in der Größe */
    width: 20px;
    height: 20px;
}

.login-content .checkbox-row label {
    flex-grow: 1;      /* Label füllt den restlichen Platz */
    max-width: 400px;  /* max Breite begrenzen */
    line-height: 1.3;
    overflow-wrap: break-word; /* Umbrüche erlauben */
}
