{% extends "base.html" %}

<link href="", rel="stylesheet">

{% block title %}home{% endblock %}

{% block content %}
<h3>Hallllluuu,</h3>
<p>
    ich bin Lunte. Zumindest nennen mich alle so.., aber was ist schon ein Name.
    Sind Namen nicht auch nur Begriffe für Sachen den man ein besonderen Wert zuordnet.
    Oder ist Dinge normal zu benennen langweilig?
    Anderen falls würden mich dann alle Mensch nennen und Niemand würde wissen wer dann wirklich gemeint sein würde.
</p>
<p>
    Aber wie gesagt ich bin Lunte zumindest als Spitz/Künstlernamen.
</p>
<p>
    Also falls ich mir ein Namen selbst geben müssste wär es Lohni (Kurzform für Lohnsteuerbescheid)
</p>
<p>
    Aber Namen gibt man sich nicht, Namen bekommt man. Oder hat sich die Tastatur irgendwann entschieden Tastatur zu heißen..
    Wohl kaum.
</p>
<p>
    Da fällt mir ein das ich noch Kuchen backen wollte. Käsekuchen, lecker.
</p>
<p>
    Der Kuchen war okay. Zumindest meinten alle der sei Gut, aber mir war er zu dunkel und zu unförmig. Im ganzen nur eine 6/10.
    Man konnte ihn zumindest essen.
</p>
<p>
    Mir ist aufgefallen Das ich selbst kaum Freunde habe. ich weiß nicht mal was ich mit so ein riesigen freundes kreis soll.
    Ich hab freunde die sehe ich immer vor allem auf Arbeit, aber Privat möchte ich lieber entspann und meine Zeit sinnvoll nutzten,
    auch wenn viele Erwachsene zu mir sagen ich bin noch jung, ich sollte das Leben genießen. Die verstehen wohl nicht das soziale kontakte auch Arbeit sind.
</p>
<p>
    Heute Meinte Jemand was meine 3 großen Haupt themen sind.. Ich hab nur eins und das ist mein Album fertig machen.
    hab schon 17/28 songs fertig.. Hoffe damit werd ich mein durchbruch kriegen..
</p>
<p>
    Ich wurde dafür gelobt das ich offen sei.. Sowas streut nur noch mehr Salz in die Wunde.
    Die einzige Möglichekeit offen für mich zu sein ist, wenn ich Texte schreibe.
</p>
<p>
    Milch.
</p>

{% endblock %}
