{% extends "base.html" %}

{% block title %}impressum{% endblock %}

{% block content %}
<h1>Impressum</h1>

<p><strong>Angaben gemäß § 5 TMG:</strong></p>

<p>
    Lazarus Linnecke<br>
    Käthe-Niederkirchner-Straße 37<br>
    10407 Berlin<br>
    Deutschland
</p>

<p><strong>Kontakt:</strong><br>
    E-Mail: <a href="mailto:Lunte.berlin@icloud.com">Lunte.berlin@icloud.com</a>
</p>

<p><strong>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV / § 18 MStV:</strong><br>
    Lazarus Linnecke<br>
    Käthe-Niederkirchner-Straße 37<br>
    10407 Berlin
</p>

<p>
    Plattform der EU-Kommission zur Online-Streitbeilegung:
    <a href="https://ec.europa.eu/consumers/odr/" target="_blank">https://ec.europa.eu/consumers/odr/</a>
</p>

<p>
    Bei Fragen oder Beschwerden können Sie sich gerne zuerst per E-Mail an mich wenden:
    <a href="mailto:Lunte.berlin@icloud.com">Lunte.berlin@icloud.com</a>.
    Ich bemühe mich, Ihr Anliegen schnell und unkompliziert zu klären.
    Sollte dies nicht möglich sein, bin ich bereit, an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.
</p>

<p><em>Stand: 23.06.2025</em></p>
{% endblock %}