{% extends "base.html" %}

{% block title %}title{% endblock %}

{% block content %}


<link href="static/login.css" rel="stylesheet">


<div class="login-content">
{% if sign_up %}
    <h2>Sign Up</h2>

    <form action="/sign_up" method="post">
        <div class="form-row">
            <label for="name-su">name:</label>
            <input name="name" type="text" id="name-su" placeholder="1-24 signs.." minlength="1" maxlength="24" required>
        </div>
        <div class="form-row">
            <label for="password-su">password:</label>
            <input name="password" type="password" id="password-su" placeholder="4-32 signs.." minlength="4" maxlength="32" required>
        </div>
        <div class="form-row">
            <label for="password-retry-su">retry password:</label>
            <input name="password_retry" type="password" id="password-retry-su" placeholder="retry the password" minlength="4" maxlength="32" required>
        </div>
        <div class="form-row checkbox-row">
            <input type="checkbox" id="dsgvo" name="dsgvo" required>
            <label>
                Ich habe die <a href="/dsgvo" target="_blank">Datenschutzerklärung (DSGVO)</a> gelesen und akzeptiere sie.
            </label>
        </div>
        {% if error_num == 1 %}
        <p>Name is forgiven please try another name.</p>
        {% elif error_num == 2 %}
        <p>Password aren't the same.</p>
        {% endif %}
        <div class="button-group">
            <a href="/login" class="login">Cancel</a>
            <button name="action" value="sign up" type="submit" class="sign-up">Sign Up</button>
        </div>
    </form>
    {% else %}
    <h2>Login</h2>

    <form action="/login" method="post">
        <div class="form-row">
            <label for="name">name:</label>
            <input name="name" type="text" id="name" placeholder="1-24 signs.." minlength="1" maxlength="24" required>
        </div>
        <div class="form-row">
            <label for="password">Password:</label>
            <input name="password" type="password" id="password" placeholder="4-32 signs.." minlength="4" maxlength="32" required>
        </div>
        <div class="button-group">
            <button name="action" value="login" type="submit" class="login">Login</button>
            <a href="/sign-up" class="sign-up">Not registered?</a>
        </div>
        {% if error_num == 1 %}
        <p>password or username was incorrect</p>
        {% endif %}
    </form>
{% endif %}
</div>
<script>
    const checkbox = document.getElementById('dsgvo');

    checkbox.addEventListener('invalid', (event) => {
        if (!checkbox.checked) {
            checkbox.setCustomValidity('Bitte akzeptiere die Datenschutzerklärung.');
        } else {
            checkbox.setCustomValidity('');
        }
    });

    checkbox.addEventListener('input', () => {
        checkbox.setCustomValidity('');
    });
</script>

{% endblock %}

