{% extends "base.html" %}

{% block title %}rules{% endblock %}

{% block content %}

<h1>Regeln</h1><br>
<b>1. Vertraue dem Leben nicht</b><br>
Vertraue dem Leben niemals, sonst würst du entäuscht. Lieber sollte das Leben dir vertrauen.
<br><br>
<b>2. Man muss nicht alles wissen</b><br>
Es gibt vieles an wissen was ein nichts bringt, so welches nennt man "Unützesswissen".
Also wenn Jemand dir was sagen wollte, aber es dann doch nicht erzählt. Frag einfach nicht nach.
Du bist dannch nicht schlauer.
<br><br>
<b>3. Spinnen gehören ausgelöscht</b><br>
Ich hasse Spinnen.
<br><br>
<b>4. Gut Ding will weilen</b><br>
Wenn du etwas machen willst, dann machst du etwas. Doch damit es gut wird braucht es Zeit.
Du kannst schneller arbeiten, aber machst auch mehr Fehler/Kompromisse.
<br><br>
<b>5. Achtsamkeit</b><br>
Es gibt viele Unterschiede im Leben. Manche Sachen sind besser als andere.
Dementsprechend sollte man den auch beachtung schenken,
statt einfach zu sagen ist gut oder Lecker ohne es wirklich mit zu Bekommen.
<br><br>
<b>6. Gutes Essen</b><br>
Am wichtigsten zum Leben ist Energie und Nährstoffe. Um davon genug zu bekommen ist es wichtig frisch,
schonend und mit viel Liebe zu Kochen. Der Geschmack hilft dir dich wohl zu fühlen und die nährstoffe versorgen dein Körper.
<br><br>
<b>7. Antworte mit Ja auf eine Entweder-oder-frage, wenn du nicht weiter weißt.</b><br>
Es ist ganz einfach irgendwas zusagen, aber dein gegenüber wird glauben du meinst es ernst.
Deswegen lockerst du die Situation auf, mit einem einfachen "ja".
<b>8. Milchreis</b>
Es kann passieren das ihr viel Milchreis habt. In dem falle gibt es eine einfache formel um zu wissen ob ihr alles essen solltet.
viel Milchreis = Viele Schmerzen. Aber es schmeckt total lecker.

{% endblock %}